torch==2.6.0
lightning==2.5.0
scanpy==1.11.0
rpy2==3.5.11
timm
openslide-python
opencv-python
scikit-image
scikit-learn
albumentations
scipy
imageio
matplotlib
pandas
numpy
tqdm
statsmodels
seaborn
loguru>=0.7.3
openslide-bin>=4.0.0.11
